<label class="item item-divider">
    <div class="item-content">
        About NSDL
        <br>
    </div>
</label>
<label class="item">
    <div class="item-content">
        <p class="wrapText">NSDL, the first and largest depository in India, established in August 1996 and promoted by institutions of national stature responsible for economic development of the country has since established a national infrastructure of international standards that handles most of the securities held and settled in dematerialised form in the Indian capital market.</p>
        <br>

        <p class="wrapText">Although India had a vibrant capital market which is more than a century old, the paper-based settlement of trades caused substantial problems like bad delivery and delayed transfer of title till recently. The enactment of Depositories Act in August 1996 paved the way for establishment of NSDL, the first depository in India. This depository promoted by institutions of national stature responsible for economic development of the country has since established a national infrastructure of international standard that handles most of the trading and settlement in dematerialised form in Indian capital market.</p>
        <br>

        <p class="wrapText">Using innovative and flexible technology systems, NSDL works to support the investors and brokers in the capital market of the country. NSDL aims at ensuring the safety and soundness of Indian marketplaces by developing settlement solutions that increase efficiency, minimise risk and reduce costs. At NSDL, we play a quiet but central role in developing products and services that will continue to nurture the growing needs of the financial services industry.</p>
        <br>

        <p class="wrapText">In the depository system, securities are held in depository accounts, which is more or less similar to holding funds in bank accounts. Transfer of ownership of securities is done through simple account transfers. This method does away with all the risks and hassles normally associated with paperwork. Consequently, the cost of transacting in a depository environment is considerably lower as compared to transacting in certificates.</p>
        <br>
    </div>
</label>