<div class="centeredNPadding">
    <label class="item item-divider">
        <div class="item-content">
            Contact NSDL
            <br>
        </div>
    </label>
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Mobile</span>
            <input type="tel" placeholder="Mobile">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label">
            <textarea placeholder="Comments"></textarea>
        </label>
        <label>
            <button class="button button-full button-dark">
                Submit
            </button>
        </label>
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="tel:+02266267400">
                <i class="icon ion-chatbubble-working"></i> Call Us @ +1800 000 1234
                <i class="icon ion-ios7-telephone-outline"></i>
            </a>
        </div>
    </div>
</div>