<label class="item item-divider">
    <div class="item-content">
        Device
        <br>
    </div>
</label>
<label class="item">
    <div class="item-content">
        device:{{device.device}}
    </div>
    <div class="item-content">
        width:{{device.deviceWidth}}
    </div>
    <div class="item-content">
        heigth:{{device.deviceheight}}
    </div>
    <div class="item-content">
        model:{{device.model}}
    </div>
    <div class="item-content">
        uuid:{{device.uuid}}
    </div>
    <div class="item-content">
        localstorage available:
    </div>
    <div class="item-content">
        Device String:{{device.platform}}
    </div>
    <div class="item-content">
        android version:{{device.version}}
    </div>
</label>
