<div class="content">
    <ul class="list">

        <li class="item item-toggle">
            Equity
            <label class="toggle toggle-assertive">
                <input type="checkbox" data-ng-checked="true">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            Mutual Funds
            <label class="toggle toggle-calm">
                <input type="checkbox" data-ng-checked="true">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            Bonds
            <label class="toggle toggle-balanced">
                <input type="checkbox" data-ng-checked="true">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <div class="list">
            <div class="item item-divider"></div>
            <label class="item item-radio">
                <input type="radio" checked="checked" value="go" name="group">
                <div class="item-content"> Basic Service </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" checked="checked" value="go" name="group">
                <div class="item-content"> Premium Service </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <div class="item item-divider"></div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Joining/Joined NSDL As:
                </div>
                <select>
                    <option>DP</option>
                    <option selected>Issuer</option>
                    <option>R&T Agent</option>
                    <option>Investor</option>
                    <option>Broker</option>
                </select>
            </label>
            <div class="item item-divider"></div>
        </div>

    </ul>
</div>