<label class="item item-radio">
    <input type="radio" name="group" ng-checked="theme=='dark'" data-ng-click="themeChange('dark')">
    <div class="item-content">
        Dark
        <br>apply darker theme
    </div>
    <i class="radio-icon ion-checkmark" style="top:-10px"></i>
</label>
<label class="item item-radio">
    <input type="radio" name="group" ng-checked="theme=='light'" data-ng-click="themeChange('light')">
    <div class="item-content">
        Light
        <br>apply lighter Theme
    </div>
    <i class="radio-icon ion-checkmark" style="top:-10px"></i>
</label>
